:root {
  --color-0: #fafafa;
  --color-1: #ededed;
  --color-2: #8e54e3;
  --color-3: #939dff;
  --color-4: #837af9;
  --color-5: #3f3749;
  --color-6: #1e1924;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}
.color-5 {
  color: var(--color-5);
}
.color-6 {
  color: var(--color-6);
}
